* {
  box-sizing: border-box;
}

main {
  display: grid;
  grid-template-columns: 240px 240px;
  grid-template-rows: 75px 150px 125px 125px 250px 250px 80px;
  background-color: rgb(201, 186, 186);
  text-align: center;
  align-content: center; 
  margin: auto;
  width: 960px;
  margin-top: 10vh;
}

span {
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
}

@media (min-width: 768px) {
  main {
    display: grid;
    grid-template-columns: 200px 190px 190px 190px 190px;
    grid-template-rows: 100px 200px 250px 150px;
    background-color: rgb(201, 186, 186);
    text-align: center;
    align-content: center;
    margin: auto;
    width: 960px;
    margin-top: 10vh;
  }

  span {
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
