* {
  box-sizing: border-box;
}

body {
  width: 480px;
  background-color: rgb(201, 186, 186);
  margin: 0px auto;
  text-align: center;
}

span {
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
}

@media (min-width: 768px) {
  body {
    clear: both;
    width: 960px;
    background-color: grey;
    margin: 0px auto;
    text-align: center;
  }
  span {
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
